name: meca_hero
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # Para tocar sons
  audioplayers: ^6.0.0
  # Para salvar e ler arquivos no celular (Obrigatório para gravar melodias)
  path_provider: ^2.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  
  # Configuração de assets para sons e imagens
  assets:
    - assets/